<!-- header.html -->
<nav>
    <div class="nav-container">
        <a href="/index.html" class="logo">
            <img src="/images/mcmedialogo.png" class="logo-image">
        </a>
        <div class="nav-right">
            <ul class="nav-links">
                <li><a href="/index.html" class="nav-link" data-page="home" data-spa-only="true">Home</a></li>
                <li><a href="/pages/services.html" class="nav-link">Services</a></li>
                <li><a href="/pages/about.html" class="nav-link">About</a></li>
                <li><a href="/pages/contact.html" class="nav-link">Contact</a></li>
            </ul>
            <button id="themeToggle">🌙</button>
        </div>
    </div>
</nav>