<!-- header.html -->
<nav>
    <div class="nav-container">
        <a href="index.html" class="logo">
            <img src="https://raw.githubusercontent.com/marycrisostomo/mc-media-website/main/mclogo.png" class="logo-image">
        </a>
        <div class="nav-right">
            <ul class="nav-links">
                <li><a href="../index.html" class="nav-link">Home</a></li>
                <li><a href="/pages/services.html" class="nav-link">Services</a></li>
                <li><a href="/pages/about.html" class="nav-link">About</a></li>
                <li><a href="/pages/contact.html" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
